// 主题色
$them-color: #31c27c;
// 背景色
$background-color: #fbfafa;
// 搜索框背景色
$input-bg-color: #eeeff3;

// 迷你播放器高度
$mini-player-height: 50px;
// tab 高度
$tab-height: 50px;
// 导航栏高度
$nav-height: 40px;
// 搜索栏高度
$search-input-height: 30px;


// 公共padding
$common-padding: 10px;
// 全屏播放器padding
$player-full-padding: 20px;


// 公共过渡时间
$transition-time-base: 0.3s;